@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital@1&display=swap");

.cabin {
  font-family: "Cabin", sans-serif;
}

.black-ops {
  font-family: "Black Ops One", cursive;
}

.cabin-italic {
  font-family: "Cabin", sans-serif;
}
/* .container {
  position: relative;
  height: 400px;
  border: 2px solid #006100;
}

.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
} */
